
body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.profile {
    padding: 20px 0;
}

.profile #header {
    margin-bottom: 0;
    padding-bottom: 0;
}